.form-group{
	margin-bottom: 20px;
	background:#EEE ;
	padding: 20px;
}

.form-group label{
	font-size: 18px;
}

#pollButton{
	background-color: #4CAF50;
}

body  {
  padding-top:50px; 
}
.polls  {
  display:center;
  flex-flow:row wrap;
  justify-content:center;
}
.poll   {
  width:50%;
  margin:20px;
}